Signup
<div class="modal fade" id="signupModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="signupModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Registration</h4>
            </div>
            <div class="modal-body">
                <form class="form-group">
                     <fieldset class="form-group">
                        <label for="Email">Email address</label>
                        <input type="email" class="form-control" name="email" placeholder="Enter email">
                        <small class="text-muted">We'll never share your email with anyone else!</small>
                     </fieldset>
                     <fieldset class="form-group">
                        <label for="Username">Username</label>
                        <input type="username" class="form-control" name="username" placeholder="Enter username">
                     </fieldset>
                     <fieldset class="form-group">
                        <label for="Password">Password</label>
                        <input type="password" class="form-control" name="password" placeholder="Enter password">
                     </fieldset>
                     <fieldset class="form-group">
                        <label for="Confirm">Confirm Password</label>
                        <input type="password" class="form-control" name="confirm" placeholder="confirm password">
                     </fieldset>
                     <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                     <button type="submit" class="btn btn-warning btn-lg">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
</div>
