<div id="home">
    <div id="centre-content" class="col-md-9">
        <form id="choices" action='/save' method='post'>
            <div id="choices-rows">
                <div class="row">
                    <input type="text" class="form-control" name="choice0" id="choice0" placeholder="Choice 1"/>
                    <input type="text" class="form-control" name="choice1" id="choice1" placeholder="Choice 2"/>
                </div>
                <div class="row">
                    <input type="text" class="form-control" name="choice2" id="choice2" placeholder="Choice 3"/>
                    <input type="text" class="form-control" name="choice3" id="choice3" placeholder="Choice 4"/>
                </div>
                <div class="row">
                    <input type="text" class="form-control" name="choice4" id="choice4" placeholder="Choice 5"/>
                    <input type="text" class="form-control" name="choice5" id="choice5" placeholder="Choice 6"/>
                    <div id="addMoreChoices" ng-click="addMoreChoices()" class="glyphicon glyphicon-plus"></div>
                </div>
            </div>
            <input class="btn" type="button" onclick="setChoice()" id="randomize" value="Randomize!">
            <button type="button" class="btn btn-default" id="save" ng-click="saveChoices()">
                <div class="glyphicon glyphicon-floppy-disk"></div>
                <div> Save Choices</div>
            </button>
        </form>
        <!--<h2> I HAVE CHOSEN </h2>-->
        <!--<script type="text/javascript" src="../js/randomizer.js"></script>-->
        <input type="text" id="randomized" placeholder="what choice?">
        <!--<input type="button" onclick="setChoice()" id="randomize" value="Click Me!">-->
    </div>
    <div id="sidebar" class="col-md-3">
        <div id="suggestions">
            <h2>Suggestions</h2>
            <ul class="list-group">
                <a href="#" class="list-group-item">Suggestion 1</a>
                <a href="#" class="list-group-item">Suggestion 2</a>
                <a href="#" class="list-group-item">Suggestion 3</a>
                <a href="#" class="list-group-item">Suggestion 4</a>

            </ul>
        </div>
        <div id="saved-bar">
            <h2>Saved Roulettes</h2>
            <ul class="list-group">
                <a href="#" class="list-group-item">Suggestion 1</a>
                <a href="#" class="list-group-item">Suggestion 2</a>
                <a href="#" class="list-group-item">Suggestion 3</a>
                <a href="#" class="list-group-item">Suggestion 4</a>
            </ul>
        </div>
    </div>

    <div class="modal fade" id="saveChoicesModal" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="saveChoicesModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Save Choices As</h4>
                </div>
                <div class="modal-body">
                    <fieldset class="form-group">
                        <!-- <label for="Name">Name</label> -->
                        <input type="text" class="form-control" id="name" placeholder="Name">
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button ng-click="saveModalSubmit()" type="button" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>

</div>