#home #notification {
    background-color: white;
    font-size: 20px;
    padding: 3px;
    margin-top: -6px;
    position: absolute;
    width: 100%;
}

#home #notification.success {
    color: green;
    border-bottom: green 3px solid;
    margin-top: 0;
}

#home #notification.fail {
    color: red;
    border-bottom: red 3px solid;
    margin-top: 0;
}

#home #centre-content {
    text-align: center;
}

#home #centre-content form#choices {
    margin: 30px 0px;
}

#home #centre-content #addMoreChoices {
    font-size: 25px;
    color: #37474F;
    margin-left: 10px;
}

#home #centre-content #addMoreChoices:hover {
    color: #7986cb;
}

#home #centre-content form#choices input[type="text"] {
    width: 350px;
    height: 70px;
    display: inline-block;
    margin: 12px;
    font-size: 30px;
    border-color: #37474f;
    font-family: 'Raleway', sans-serif;
}

#home #centre-content form#choices .row.shift-right {
    margin-left: 20px;
}

/** Randomize Button **/
#home #centre-content #randomize {
    margin: 25px;
    color: white;
    background-color: #37474f;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    border-radius: 500px;
    width: 250px;
    height: 80px;
    border-color:white;
}

#home #centre-content #randomize:hover {
    background-position: 0 -80px;
    background-color: #7986cb;
}

#home #centre-content form#choices button#save {
    /** button shape**/
    height: 70px;
    width: 90px;
    font-family: 'Raleway', sans-serif;
    padding-top:10px;
    margin: 20px 20px;
    background: #37474f;
    transition: all 0.3s ease 0s;
    color:white;
}

/** Save Button **/

#home #centre-content form#choices button#save .glyphicon {
    font-size: 30px;
}

#home #centre-content form#choices button#save:hover {
    background: #7986cb;
    color:white;
}

#home #centre-content button#reset {
    height: 70px;
    width: 90px;
    font-family: 'Raleway', sans-serif;
    padding-top:10px;
    margin: 20px 20px;
    background: #37474f;
    transition: all 0.3s ease 0s;
    color:white;
}

/** Reset Button **/

#home #centre-content button#reset:hover {
    background-position: 0 -80px;
    background-color: #7986cb;
}


#home #centre-content form#choices button#reset .glyphicon {
   color:white;
    font-size:30px;
}

/** View More **/

#home #sidebar #view-more-roulettes {
    text-align: center;
    font-size: 16px;
}

/** Sidebar **/

#home #sidebar {
    background-color: #E6E6E6;
    font-family: 'Raleway', sans-serif;
    font-color:#37474f;
}

/** Suggestions Sidebar **/

#home #sidebar #suggestions button:hover {
    background-color:#7986cb;
    color:white;
}