#home #centre-content {
    text-align: center;
}

#home #centre-content form#choices {
    margin-top: 40px;
}

#home #centre-content #addMoreChoices {
    font-size: 25px;
    color: #666666;
    margin-left: 5px;
}

#home #centre-content #addMoreChoices:hover {
    color: black;
}

#home #centre-content form#choices input[type="text"] {
    width: 400px;
    height: 80px;
    display: inline-block;
    margin: 12px;
    font-size: 24px;
    border-color: #37474f;
}

#home #centre-content form#choices .row.shift-right {
    margin-left: 15px;
}

#home #centre-content #randomize {
    margin: 25px;
    color: white;
    background-color: #37474f;
    font-weight: bold;
    font-size: 30px;
    border-radius: 500px;
    width: 250px;
    height: 80px;
}

#home #centre-content #randomize:hover {
    background-position: 0 -80px;
    background-color: #7986cb;
}

#home #centre-content form#choices button#save {
    /** button shape**/
    height: 70px;
    width: 100px;
    font-size: 16px;
    padding-top:10px;
    border-radius: 0;
    margin: 20px 20px;
    background: white;

    /** button font styling **/
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    border-color: #37474f;
    color:#37474f;
}

#home #centre-content form#choices button#save .glyphicon {
    font-size: 40px;
}

#home #sidebar {
    background-color: aliceblue;
}

#home #sidebar #view-more-roulettes {
    text-align: center;
    font-size: 16px;
}