#home #centre-content {
    text-align: center;
}

#home #centre-content form#choices {
    margin: 20px 0;
}

#home #centre-content #addMoreChoices {
    font-size: 18px;
    color: grey;
    margin-left: 5px;
}

#home #centre-content #addMoreChoices:hover {
    color: black;
}

#home #centre-content form#choices input[type="text"] {
    width: 300px;
    height: 50px;
    display: inline-block;
    margin: 10px;
    font-size: 20px;
}

#home #centre-content form#choices input[type="submit"] {
    margin: 25px;
    color: white;
    background-color: green;
    font-weight: bold;
    font-size: 30px;
    border-radius: 500px;
    width: 250px;
    height: 100px;
}

#home #centre-content form#choices input[type="submit"]:hover {
    background-color: red;
}

#home #centre-content form#choices button#save {
    height: 80px;
    font-size: 16px;
    border-radius: 0;
}

#home #centre-content form#choices button#save .glyphicon {
    font-size: 30px;
}

#home #sidebar {

}