#header {
    background: #7986cb;
    height: 100px;
    font-family: 'Raleway', sans-serif;
    padding-left: 50px;
    padding-top:8px;
    text-align:left;
    font-size: 60px;
    color:white;
    margin-bottom:0;
}

#header button {
   float:right;
    z-index: 1000;
    margin: 20px 20px;
    height: 50px;
    width: 150px;
    background-color: #7986cb;
    transition: all 0.3s ease 0s;

    /** button font styling **/
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    border-color: white;
    color:white;

}

#header button:hover {
    background: white;
    color:#7986cb;

}

.container-fluid {
    padding: 0;
    min-height: calc(100vh - 200px);
}

#footer {
    background: #000000;
    width: 100%;
    padding: 20px 0 80px;
    font-size: 0.9em;
    text-align: center;
    height: 85px;
    color: #a0a0a0;
}

#footer a {
    display: inline-block;
    margin: 0px 2px 10px;
    padding: 0 3px 10px;
    color: #eeeeee;
    font-weight: bold;
}

#footer a:hover{
    color: #eeeeee;
    text-decoration: none;
}
.sidebar{ 
    text-align: right;
    padding-right: 0;
}