#savedRoulettesModal .modal-body #rouletteItem {
    background: #7986cb;
    color: white;
    cursor: pointer;
    padding: 0;
}

#savedRoulettesModal .modal-body #rouletteItem:hover {
    background: #37474f;
    color: white;
}

#savedRoulettesModal .modal-body #rouletteItem > div {
    padding: 8px 20px;
}

#savedRoulettesModal .modal-body .rouletteName {
    display: inline-block;
}

#savedRoulettesModal .modal-body .rouletteButtons {
    float: right;
    display: none;
}

#savedRoulettesModal .modal-body .rouletteButtons div {
    display: inline-block;
    width: 82px;
    text-align: center;
}

#savedRoulettesModal .modal-body .rouletteButtons .editRouletteName {
    background-color: slateblue;
}

#savedRoulettesModal .modal-body .rouletteButtons .editRouletteName:hover {
    background-color: lightsteelblue;
}

#savedRoulettesModal .modal-body .rouletteButtons .deleteRoulette {
    background-color: maroon;
}

#savedRoulettesModal .modal-body .rouletteButtons .deleteRoulette:hover {
    background-color: red;
}

#savedRoulettesModal .modal-body #rouletteItem:hover .rouletteButtons {
    display: inline-block;
}

#savedRoulettesModal .modal-body .deleteEnabled {
    float: right;
    margin-top: -4px;
}

#savedRoulettesModal .modal-body .deleteEnabled div {
    display: inline-block;
}

#savedRoulettesModal .modal-body .deleteEnabled button {
    padding: 3px 10px;
    margin-left: 7px;
}

#savedRoulettesModal .modal-body .editNameEnabled div {
    display: inline-block;
}

#savedRoulettesModal .modal-body .editNameEnabled input.form-control {
    color: black;
    display: inline-block;
    width: 85%;
    height: 25px;
}

#savedRoulettesModal .modal-body .editNameEnabled .editNameButtons {
    float: right;
    font-weight: bold;
    font-size: 16px;
}

#savedRoulettesModal .modal-body .editNameEnabled .editNameButtons div.glyphicon {
    padding: 0 7px;
    vertical-align: middle;
}

#savedRoulettesModal .modal-body .editNameEnabled .editNameButtons .glyphicon-ok:hover {
    color: greenyellow;
}

#savedRoulettesModal .modal-body .editNameEnabled .editNameButtons .glyphicon-remove:hover {
    color: red;
}