#savedRoulettesModal .modal-body #rouletteItem {
    background: #7986cb;
    color: white;
    cursor: pointer;
}

#savedRoulettesModal .modal-body #rouletteItem:hover {
    background: #37474f;
    color: white;
}

#savedRoulettesModal .modal-body .rouletteName {
    display: inline-block;
}

#savedRoulettesModal .modal-body .rouletteButtons {
    float: right;
    display: none;
}

#savedRoulettesModal .modal-body .rouletteButtons div {
    display: inline-block;
    width: 82px;
    text-align: center;
}

#savedRoulettesModal .modal-body .rouletteButtons .editRouletteName {
    background-color: slateblue;
}

#savedRoulettesModal .modal-body .rouletteButtons .editRouletteName:hover {
    background-color: lightsteelblue;
}

#savedRoulettesModal .modal-body .rouletteButtons .deleteRoulette {
    background-color: maroon;
}

#savedRoulettesModal .modal-body .rouletteButtons .deleteRoulette:hover {
    background-color: red;
}

#savedRoulettesModal .modal-body #rouletteItem:hover .rouletteButtons {
    display: inline-block;
}

#savedRoulettesModal .modal-body .editNameEnabled div {
    display: inline-block;
}

#savedRoulettesModal .modal-body .editNameEnabled input {
    color: black;
    display: inline-block;
    width: 85%
}

#savedRoulettesModal .modal-body .editNameEnabled .editNameButtons {
    float: right;
    font-weight: bold;
    font-size: 16px;
}

#savedRoulettesModal .modal-body .editNameEnabled .editNameButtons div.glyphicon {
    padding: 0 7px;
    vertical-align: middle;
}

#savedRoulettesModal .modal-body .editNameEnabled .editNameButtons .glyphicon-ok:hover {
    color: greenyellow;
}

#savedRoulettesModal .modal-body .editNameEnabled .editNameButtons .glyphicon-remove:hover {
    color: red;
}