html, body {
    height: 100%;
    font-family: Segoe,Segoe UI,Calibri,Arial,sans-serif;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

a:hover {
    text-decoration:none;
}

.hidden {
    visibility: hidden;
}

.modal .modal-footer {
    text-align: center;
}